<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renner">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Renner">

        <activity
            android:name=".LoginActivity"
            android:exported="true">  <!-- Itt adjuk hozzá az android:exported attribútumot -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".LanguageSelectionActivity" android:exported="false" />

        <activity android:name=".AddEmployeeActivity" android:exported="false" />
        <activity android:name=".AddCriteriaActivity" android:exported="false" />
        <activity android:name=".LeaderSelectionActivity" android:exported="false" />
        <activity android:name=".RateLeaderActivity" android:exported="false" />
        <activity android:name=".ResultActivity" android:exported="false" />

        <activity android:name=".BackupActivity" android:exported="false"  />

        <activity android:name=".TrashSelectionActivity" android:exported="false" />
        <activity android:name=".EmployeeTrashActivity" android:exported="false" />
        <activity android:name=".CriteriaTrashActivity" android:exported="false" />

    </application>
</manifest>
